<!doctype html>
<html class="no-js" lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->
    <!-- SEO -->
    <title>SnaFoo - Nerdery Snack Food Ordering System</title>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../../resources/media/images/favicon/apple-touch-icon-57x57.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-57x57.png}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="../../../resources/media/images/favicon/apple-touch-icon-60x60.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-60x60.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../../resources/media/images/favicon/apple-touch-icon-72x72.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../../../resources/media/images/favicon/apple-touch-icon-76x76.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-76x76.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../../resources/media/images/favicon/apple-touch-icon-114x114.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="../../../resources/media/images/favicon/apple-touch-icon-120x120.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-120x120.png}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../../../resources/media/images/favicon/apple-touch-icon-144x144.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="../../../resources/media/images/favicon/apple-touch-icon-152x152.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-152x152.png}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../../../resources/media/images/favicon/apple-touch-icon-180x180.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-180x180.png}"/>
    <link rel="icon" type="image/png" sizes="192x192" href="../../../resources/media/images/favicon/favicon-192x192.png" th:href="@{/resources/images/favicon/favicon-192x192.png}"/>
    <link rel="icon" type="image/png" sizes="160x160" href="../../../resources/media/images/favicon/favicon-160x160.png" th:href="@{/resources/media/images/favicon/favicon-160x160.png}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="../../../resources/media/images/favicon/favicon-96x96.png" th:href="@{/resources/media/images/favicon/favicon-96x96.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../../../resources/media/images/favicon/favicon-32x32.png" th:href="@{/resources/media/images/favicon/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../../../resources/media/images/favicon/favicon-16x16.png" th:href="@{/resources/media/images/favicon/favicon-16x16.png}"/>
    <meta name="msapplication-TileImage" content="../../../resources/media/images/favicon/mstile-144x144.png" th:href="@{/resources/media/images/favicon/mstile-144x144.png}"/>
    <meta name="msapplication-TileColor" content="#ff0000"/>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen, projection" href="../../../resources/styles/modern.css" th:href="@{/resources/styles/modern.css}"/>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
    <div class="wrapper">
    
        <div class="content" role="main">
            <div class="shelf shelf_5">
                <h1 class="hdg hdg_1">Voting</h1>
            </div>
            <div class="shelf shelf_2">
                <p>You are able to vote for up to three selections each month.</p>
            </div>
            <div class="shelf shelf_2">
                <div class="voteBox">
                    <div class="voteBox-hd">
                        <h2 class="hdg hdg_3">Votes Remaining</h2>
                    </div>
                    <div class="voteBox-body">
                        <p th:text="${votesLeft}" class="counter counter_green isHidden"></p>
                        <p th:text="${votesLeft}" class="counter counter_yellow"></p>
                        <p th:text="${votesLeft}" class="counter counter_red isHidden"></p>
                    </div>
                </div>
            </div>
            <div class="shelf shelf_2">
                <p class="error isHidden">Opps! You have already voted the total allowed times this month.<br />Come back next month to vote again!</p>
            </div>
            <div class="split">
                <div class="shelf shelf_2">
                    <div class="shelf">
                        <h2 class="hdg hdg_2 mix-hdg_centered ">Snacks Always Purchased</h2>
                    </div>
                    <div class="shelf shelf_5">
					<table class="table">
					        <tr th:each="snack : ${always}">
					            <td th:text="${snack.name}"></td>
					        </tr>
					</table>
					</div>
                </div>
            </div>
            <div class="split">
                <div class="shelf shelf_2">
                    <div class="shelf">
                        <h2 class="hdg hdg_2 mix-hdg_centered ">Snacks suggested this month</h2>
                    </div>
                    <div class="shelf shelf_5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Snack Food</th>
                                    <th scope="col">Current Votes</th>
                                    <th scope="col">VOTE</th>
                                    <th scope="col">Last Date Purchased</th>
                                </tr>
                            </thead>
                            <tbody>
						        <tr th:each="ballot : ${ballots}">
						            <td th:text="${ballot.snack.name}"></td>
                                    <td th:text="${ballot.votes}"></td>
                                    <td>
                                    <a th:if="${ballot.enabled and canVote}" th:href="@{('/vote')(snackId=${ballot.snack.id})}" style="text-decoration: none;"><span class="icon-check icon-check_noVote"></span></a>
                                    <span th:if="${!ballot.enabled}" class="icon-check icon-check_voted"></span>
                                    </td>
						            <td th:text="${ballot.snack.lastPurchaseDate}"></td>
						        </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /content -->
    </div>
    <!-- /wrapper -->
</body>
</html>
