<!doctype html>
<html class="no-js" lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->
    <!-- SEO -->
    <title>SnaFoo - Nerdery Snack Food Ordering System</title>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../../resources/media/images/favicon/apple-touch-icon-57x57.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-57x57.png}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="../../../resources/media/images/favicon/apple-touch-icon-60x60.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-60x60.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../../resources/media/images/favicon/apple-touch-icon-72x72.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../../../resources/media/images/favicon/apple-touch-icon-76x76.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-76x76.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../../resources/media/images/favicon/apple-touch-icon-114x114.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="../../../resources/media/images/favicon/apple-touch-icon-120x120.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-120x120.png}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../../../resources/media/images/favicon/apple-touch-icon-144x144.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="../../../resources/media/images/favicon/apple-touch-icon-152x152.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-152x152.png}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../../../resources/media/images/favicon/apple-touch-icon-180x180.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-180x180.png}"/>
    <link rel="icon" type="image/png" sizes="192x192" href="../../../resources/media/images/favicon/favicon-192x192.png" th:href="@{/resources/images/favicon/favicon-192x192.png}"/>
    <link rel="icon" type="image/png" sizes="160x160" href="../../../resources/media/images/favicon/favicon-160x160.png" th:href="@{/resources/media/images/favicon/favicon-160x160.png}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="../../../resources/media/images/favicon/favicon-96x96.png" th:href="@{/resources/media/images/favicon/favicon-96x96.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../../../resources/media/images/favicon/favicon-32x32.png" th:href="@{/resources/media/images/favicon/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../../../resources/media/images/favicon/favicon-16x16.png" th:href="@{/resources/media/images/favicon/favicon-16x16.png}"/>
    <meta name="msapplication-TileImage" content="../../../resources/media/images/favicon/mstile-144x144.png" th:href="@{/resources/media/images/favicon/mstile-144x144.png}"/>
    <meta name="msapplication-TileColor" content="#ff0000"/>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen, projection" href="../../../resources/styles/modern.css" th:href="@{/resources/styles/modern.css}"/>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
    <div class="wrapper">
        <div class="content" role="main">
            <div class="shelf shelf_5">
                <h1 class="hdg hdg_1">Shopping List</h1>
            </div>
            <div class="shelf shelf_1">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Snack Name</th>
                            <th scope="col">Purchase Location</th>
                        </tr>
                    </thead>
                    <tbody>
				        <tr th:each="snack : ${list}">
				            <td th:text="${snack.name}"></td>
				            <td><span th:if="${#arrays.isEmpty(snack.purchaseLocations) == false}" th:text="${snack.purchaseLocations[0].name}"></span></td>
				        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /content -->
    </div>
    <!-- /wrapper -->
</body>
</html>
