<!doctype html>
<html class="no-js" lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->
    <!-- SEO -->
    <title>SnaFoo - Nerdery Snack Food Ordering System</title>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../../resources/media/images/favicon/apple-touch-icon-57x57.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-57x57.png}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="../../../resources/media/images/favicon/apple-touch-icon-60x60.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-60x60.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../../resources/media/images/favicon/apple-touch-icon-72x72.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../../../resources/media/images/favicon/apple-touch-icon-76x76.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-76x76.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../../resources/media/images/favicon/apple-touch-icon-114x114.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="../../../resources/media/images/favicon/apple-touch-icon-120x120.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-120x120.png}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../../../resources/media/images/favicon/apple-touch-icon-144x144.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="../../../resources/media/images/favicon/apple-touch-icon-152x152.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-152x152.png}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../../../resources/media/images/favicon/apple-touch-icon-180x180.png" th:href="@{/resources/media/images/favicon/apple-touch-icon-180x180.png}"/>
    <link rel="icon" type="image/png" sizes="192x192" href="../../../resources/media/images/favicon/favicon-192x192.png" th:href="@{/resources/images/favicon/favicon-192x192.png}"/>
    <link rel="icon" type="image/png" sizes="160x160" href="../../../resources/media/images/favicon/favicon-160x160.png" th:href="@{/resources/media/images/favicon/favicon-160x160.png}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="../../../resources/media/images/favicon/favicon-96x96.png" th:href="@{/resources/media/images/favicon/favicon-96x96.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../../../resources/media/images/favicon/favicon-32x32.png" th:href="@{/resources/media/images/favicon/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../../../resources/media/images/favicon/favicon-16x16.png" th:href="@{/resources/media/images/favicon/favicon-16x16.png}"/>
    <meta name="msapplication-TileImage" content="../../../resources/media/images/favicon/mstile-144x144.png" th:href="@{/resources/media/images/favicon/mstile-144x144.png}"/>
    <meta name="msapplication-TileColor" content="#ff0000"/>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen, projection" href="../../../resources/styles/modern.css" th:href="@{/resources/styles/modern.css}"/>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
    <div class="wrapper">
        <div class="content" role="main">
            <div class="shelf shelf_5">
                <h1 class="hdg hdg_1">Suggestions</h1>
            </div>
            <div class="shelf shelf_2">
                <div class="error isHidden">You have attempted to add more than the allowed number of suggestions per month!
                    <br />Only one suggestion is allowed per month.</div>
                <div class="error isHidden">You have attempted to add a suggestion that already exists!</div>
                <div class="error isHidden">You have not completed information requested.</div>
            </div>
            <div class="content-centered">
                <div th:if="${!canSuggest}" class="shelf shelf_2">
                   Only one suggestion is allowed per month.
                </div>
                <div th:if="${canSuggest}" class="shelf shelf_2">
					<form action="#" th:action="@{/suggestions}" th:object="${suggestionForm}" method="post">
                        <fieldset class="shelf shelf_2">
                            <div class="shelf shelf_2">
                                <div class="shelf">
                                    <label for="snackOptions">
                                        <h2 class="hdg hdg_2">Select a snack from the list</h2>
                                    </label>
                                </div>
                                <select name="snackId" id="snackId">
									<option selected="selected" value="-1">select a snack</option>
							        <option th:each="snack : ${snacks}" th:value="${snack.id}" th:text="${snack.name}">
							        </option>
                                </select>
                            </div>
                        </fieldset>
                        <div class="shelf shelf_5">
                            <p class="hdg hdg_1">or</p>
                        </div>
                        <fieldset class="shelf shelf_5">
                            <div class="shelf">
                                <label for="suggestionInput">
                                    <h2 class="hdg hdg_2">Enter new snack suggestion &amp; purchasing location</h2>
                                </label>
                            </div>
                            <div class="shelf">
								<input type="text" th:field="*{name}" placeholder="Snack Suggestion" />
                            </div>
                            <div class="shelf">
								<input type="text" th:field="*{location}" placeholder="Location" />
                            </div>
                        </fieldset>
                        <input type="submit" value="Suggest this Snack!" class="btn"/>
                    </form>
                </div>
            </div>
        </div>
        <!-- /content -->
    </div>
    <!-- /wrapper -->
</body>
</html>
